body{
  
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  color:#a54fa1;
  background-color: lightblue;
 
}

.div-form{
  width: 400px;
}
.form-group{
  width:100%;
}
button{
  width: 100%;
}

.home{
  width: 100%;
}
.button{
  background-color:#5b9ab7

}
.true{
  background-color: #b0bc64  ;
}
.false{
  background-color: #e35759
  ;
}
.error{
  color:#e35759;
}
.btn{
color:black;
}